.hero
    &-block
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

    &-list__img
        height: 40px
        width: 40px

    &-image
        display: flex
        justify-content: flex-end
        img 
            width: 100%

