.modal
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: rgba(#000, 0.5)
    display: none
    &_active
        display: flex
    &-dialog
        position: relative
        margin: auto auto
        width: 370px
        height: 500px
        background-color: #ffffff
        padding: 30px 40px
        &__title
            +msc700
            font-size: 22px
            margin-top: 10px
            margin-bottom: 20px
        &__subtitle
            +msc300
            display: block
            font-size: 16px
            margin-bottom: 30px
        &__close
            position: absolute
            right: 5px
            top: 5px
    &__input
        width: 100%
        &:first-child
            margin-bottom: 10px
    &__button
        width: 100%
        height: 65px
        margin-top: 10px
        margin-bottom: 30px
    &__info
        +msc300
        font-size: 15px
        display: block
        margin-bottom: 5px