.offer
    background: url('../img/offer/Clip.jpg') no-repeat
    background-position: center right
    background-size: contain
    position: relative
    color: $text_dark
    &::before
        content: ''
        width: 50%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: #ffffff
    &-block
        width: 50%
        padding-right: 90px
        position: relative
    &__title
        max-width: 370px
        line-height: 35px
        margin-bottom: 24px
        text-align: left
    &__subtitle
        max-width: 250px
        display: block
        margin-bottom: 30px
    &-form
        margin-bottom: 27px
    &__input
        margin-bottom: 30px
        width: 240px
        &:first-child
            margin-right: 10px
    &__button
        width: 100%
        min-height: 70px
    &-call
        display: flex
        flex-direction: row
        +msc300
        font-size: 15px
    &__time
        width: 50%
        padding-right: 20px
        line-height: 1.6
    &-condition
        width: 50%
        display: flex
        flex-direction: column
        text-align: left
        padding-left: 45px
        line-height: 1.6
    &__phone
        margin-left: 10px
