.our-help
    padding-top: 0
    background-color: red
    &__title-block
        padding-top: 90px
        padding-bottom: 90px
        background-color: $yell
    &__title
        +msc300
        font-size: 32px