.price
    &__title
        margin: auto
        margin-bottom: 58px
    &__subtitle
        margin: auto
        display: block
        margin-bottom: 59px
        text-align: center
    &__card
        margin-bottom: 30px
.card
    width: 370px
    height: 410px
    border: 1px solid $border-card
    transition: 0.2 easeout
    &:hover
        margin-top: -3px
        cursor: pointer
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1)
        .card__image:before
            opacity: 1
    &s
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
    &__image
        margin-bottom: 35px
        position: relative
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%)
            opacity: 0
            transition: 0.2s ease-out
    &__title 
        +msc500
        font-size: 18px
        text-align: center
        margin: 0 auto 30px auto
        display: block
    &__link
        text-decoration: none
        display: block
        text-align: center
        color: $text-dark
        +msc700
        font-size: 16px
        &:after
            content: ''
            width: 100px
            height: 3px
            background-color: $yell
            display: block
            margin: auto
            margin-top: 0
            transition: 0.2s ease-out
        &:hover:after
            height: 10px
            margin-top: -7px