@font-face {
  font-family: msc300;
  src: url(../fonts/ofont.ru_MuseoSansCyrl300.ttf);
}

@font-face {
  font-family: msc500;
  src: url(../fonts/ofont.ru_MuseoSansCyrl500.ttf);
}

@font-face {
  font-family: msc700;
  src: url(../fonts/ofont.ru_MuseoSansCyrl700.ttf);
}

img {
  width: 100%;
}

.container {
  max-width: 1170px;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background-color: #FFD200;
  padding: 18px 30px;
  text-align: center;
  border-radius: 10px;
  font-family: msc700, sans-serif;
  border: none;
}

.navbar {
  padding: 8px 0;
  font-family: msc300, sans-serif;
  color: #333333;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  height: 75px;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  margin-top: 10px;
}

.navbar__adress {
  font-size: 13px;
}

.hero {
  background-color: #F5F5F5;
  color: #333333;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  width: 50%;
  padding-right: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-text__title {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 80px;
  line-height: 1.4;
  letter-spacing: .6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: msc700;
}

.hero-text__subtitle {
  font-family: msc700;
  font-size: 20px;
  display: block;
  margin-bottom: 70px;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 0 50px 30px;
  border: 1px solid green;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-image img {
  width: 100%;
  border: 1px solid red;
}

.hero-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
  width: 70%;
  min-height: 40px;
}

.hero-list__img {
  margin-right: 30px;
  height: 40px;
  width: 40px;
}

.hero-list__text {
  font-family: msc300;
  font-size: 14px;
  line-height: 1.8;
}
/*# sourceMappingURL=main.css.map */